.DS_Store

*.[568ao]
*.so
[568a].out

_obj
_test
_testmain.go

y.tab.c
y.tab.h

doc/codelab/wiki/htmlify.bin
doc/codelab/wiki/srcextract.bin

misc/cgo/life/run.out
misc/cgo/test/_cgo_export.h
misc/dashboard/builder/gobuilder
misc/goplay/goplay

pkg/*

src/cmd/*/build.out
src/cmd/*/test.out
src/cmd/6a/6a
src/cmd/6c/6c
src/cmd/6g/6g
src/cmd/6l/6l
src/cmd/8a/8a
src/cmd/8c/8c
src/cmd/8g/8g
src/cmd/8l/8l
src/cmd/?l/enam.c
src/cmd/cc/y.output
src/cmd/cgo/cgo
src/cmd/cov/6cov
src/cmd/ebnflint/ebnflint
src/cmd/gc/builtin.c
src/cmd/gc/opnames.h
src/cmd/gc/y.output
src/cmd/gc/y1.tab.c
src/cmd/gc/yerr.h
src/cmd/godefs/godefs
src/cmd/godoc/godoc
src/cmd/gofix/gofix
src/cmd/gofmt/gofmt
src/cmd/goinstall/goinstall
src/cmd/goinstall/syslist.go
src/cmd/gopack/gopack
src/cmd/gotype/gotype
src/cmd/govet/govet
src/cmd/goyacc/goyacc
src/cmd/hgpatch/hgpatch
src/cmd/nm/6nm
src/cmd/prof/6prof

src/pkg/Make.deps
src/pkg/exp/ogle/ogle
src/pkg/os/signal/unix.go
src/pkg/runtime/*/asm.h
src/pkg/runtime/cgo/_cgo_main.c
src/pkg/runtime/goc2c
src/pkg/runtime/mkversion
src/pkg/runtime/runtime.acid.*
src/pkg/runtime/runtime_defs.go
src/pkg/runtime/version.go
src/pkg/runtime/version_amd64.go
src/pkg/runtime/version_darwin.go
src/pkg/unicode/maketables
src/pkg/github.com/
src/pkg/*.googlecode.com/

test/pass.out
test/run.out
test/times.out
test/garbage/*.out
